/* Basic Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Animations */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes scale-up {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

.fade-in {
    animation: fade-in linear;
    animation-timeline: view();
}

.slide-in {
    animation: slide-in linear;
    animation-timeline: view();
}

.scale-up {
    animation: scale-up linear;
    animation-timeline: view();
}